<div class="card-content">
    <div class="card-img">
        <img src="https://pics.filmaffinity.com/House_Serie_de_TV-534042119-large.jpg" alt="">
        <span><h4>{{ series.nombre }}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{ series.imageUlr }}</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt reiciendis nobis ad maxime nam at rerum dolorum veritatis autem ipsam, qui quisquam ducimus, dolorem, ea consequuntur quas ex unde sit?</p>
        <a href="#" class="btn-card">Read</a>
    </div>
</div>