<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>

            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">whishlist</h3>
                    <form>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" #nombre placeholder="Ingresa nombre">
                        </div>
                        <div class="form-group">
                            <label for="Imagen Url">Imagen Url</label>
                            <input type="text" class="form-control" id="imagen" #url placeholder="Ingresa url de la imagen..">
                        </div>
                        <button class="btn btn-danger" type="submit" (click)="guardar(nombre.value , url.value)">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row row-flex">
        <app-series *ngFor="let s of series" [series]="s"></app-series>
    </div>
</div>